<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content='Links' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />
    <title>Links</title>
    <meta name='description' content='A link saver application to access from multiple devices.' />
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-responsive.no-icons.min.css' rel='stylesheet' />
    <link href='//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css' rel='stylesheet' />
    <link href='<%= asset_path('application.css') %>' rel='stylesheet' type='text/css' />
    <link href='/apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144' type='image/png' />
    <link href='/apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72' type='image/png' />
    <link href='/apple-touch-icon.png' rel='apple-touch-icon' type='image/png' />

    <link href='/iphone-startup.png' rel='apple-touch-startup-image' />
<!--     <link href='/iphone-startup@2x.png' rel='apple-touch-startup-image' media="screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" />
    <link href='/iphone5-startup.png' rel='apple-touch-startup-image' media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
    <link href='/ipad-startup-portrait.png' rel='apple-touch-startup-image' media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link href='/ipad-startup-portrait@2x.png' rel='apple-touch-startup-image' media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" />
    <link href='/ipad-startup-landscape.png' rel='apple-touch-startup-image' media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link href='/ipad-startup-landscape@2x.png' rel='apple-touch-startup-image' media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" /> -->

    <link href='/favicon.png' rel='shortcut icon' type='image/png' />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
  </head>
  <body>
    <%= yield %>

    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= Project.config["GA_TRACKING_ID"] %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </body>
</html>