.new-url
  %form{action: "/#{@list}/urls", method: "post"}
    %input{name: "url", type: "text", placeholder: "URL", size: "30"}
    %input.btn.btn-primary{name: "commit", type: "submit", value: "Add"}

- if @urls.any?
  %ul.urls
    - @urls.each do |url|
      %li.url
        %a{href: url, target: :_blank}= url
        .actions.pull-right
          %form{action: "/#{@list}/urls", method: "post"}
            %input{name: "_method", type: "hidden", value: "delete"}
            %input{name: "url", type: "hidden", value: url}
            %input.btn.btn-danger.btn-small{type: "submit", value: "Delete"}

          %button.btn.btn-small Cancel