<div class="new-url">
  <input type="text" name="url" placeholder="URL" />
  <button class="btn btn-info" />Add</button>
</div>

<ul class="urls">
</ul>

<script id="link-template" type="text/x-handlebars-template">
  <li class="url" data-url="{{ url }}">
    <button class="btn btn-danger btn-small" data-url="{{ url }}" />X</button>
    <a href="{{ url }}" title="{{ url }}" target="_blank">{{ url }}</a>
    <br class="clear"></br>
  </li>
</script>

<script src="<%= asset_path('application.js') %>"></script>
<script>
  $(function(){
    window.App = {};
    App.links = new Links('<%= @list %>');
    App.links.load();
  });
</script>
