<div class="new-url">
  <form action="<%= "/#{@list}/urls" %>" method="post" accept-charset="utf-8">
    <input type="text" name="url" placeholder="URL" />
    <input type="submit" name="commit" value="Add" class="btn btn-info" />
  </form>
</div>

<ul class="urls">
</ul>

<script id="link-template" type="text/x-handlebars-template">
  <li class="url" data-url="{{ url }}">
    <button class="btn btn-danger btn-small" data-behavior="delete-link" data-url="{{ url }}" />X</button>
    <a href="{{ url }}" title="{{ url }}" target="_blank">{{ url }}</a>
    <br class="clear"></br>
  </li>
</script>

<script src="<%= asset_path('application.js') %>"></script>
<script>
  $(function(){
    Links.getLinks('<%= params[:id] %>');
  });
</script>
